{% extends 'base.html.twig' %}
{% block title %}Edit Post{% endblock %}
{% block main %}
    <h1>Edit Post</h1>
    {% if post.imageFile is not null %}
    media du post :

    <p><img src="{{ asset("#{post.imageFile}") }}" width="100px" class="img-rounded"/></p>
        <br/>
    {% endif %}
    {{ include('blog/_form.html.twig') }}

    <a href="{{ path('listing') }}">back to list</a>
{% endblock %}